<div id="container">
  <div id="section-1">
  </div>
  <div id="section-2"></div>
</div>
<div id="todo-container">
  <mat-toolbar id="nav" color="primary">
      <div>
          <h1>My Tasks</h1>
      </div>
      <div>
        <h1>hello</h1>
      </div>
  </mat-toolbar>
  <!-- <form action=""> -->
      <!-- <mat-form-field> -->
          <!-- <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi"> -->
        <!-- </mat-form-field>  -->
  <!-- </form> -->



</div>